/*
  Este é o ponto de partida. Adicione as variáveis de cor
  do seu aplicativo aqui, tanto para o modo claro quanto escuro.
*/

:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

/*
  Ionic Dark Mode
  -----------------------------------------------------
  Habilitado por padrão através da media query prefers-color-scheme.
*/

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #42a5f5;
    --ion-color-primary-rgb: 66, 165, 245;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a92d7;
    --ion-color-primary-tint: #55aff6;

    --ion-background-color: #0d1117;
    --ion-background-color-rgb: 13, 17, 23;

    --ion-text-color: #c9d1d9;
    --ion-text-color-rgb: 201, 209, 217;

    --ion-toolbar-background: #161b22;

    --ion-item-background: #161b22;
  }
}